body{
	background-color:#fff;
	margin:0px;
	padding:0px;
	font-family: Tahoma,Arial;
	font-size:11px;
	color:#333;
}
	
p{
	line-height:21px;
}

/*-- HEADERS -- */

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	line-height: normal;
}

h1{
	font-size: 22px;
	letter-spacing:-1px;
	}
	
h2{
	font-size: 18px;
}

h3{
	font-size: 15px;
}	

h4{
	font-size: 13px;
}

h5{
	font-size:12px;
}

/* -- LINKS -- */
a{
	text-decoration:none;
	outline: none;
}

a:link, a:visited{color:#C1103C;}

a:hover, a:active, a:focus {color:#666;}

/* -- FORMS -- */

form, fieldset, legend {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
}

legend {
	font-size: 18px;
}

/* -- MISC -- */
small{
	color: #999;
}

.ancho100 {
	width: 100%;
}

.ancho25 {
	width: 25%;
}

.aligncenter {
	text-align: center;
}

/* -- TABLES -- */
table {
	border: 1px solid #dfdfdf;
	border-collapse:collapse;
}

th {
	background: #efefef;	
	border-bottom: 1px solid #dfdfdf;
}

th, td {
	padding: 3px;
}

.fila1 {
}

.fila2 {
	background: #F1F3F6;
}

.columna {
	border-right: 1px solid #dfdfdf;
}

.columna.ultimo {
	border-right: none;
}

/* -- WRAPPER -- */	
#wrapper{
	width:958px;
	margin:auto;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color:#FFF;
	border:1px solid #CFCFCF;
	color:#666;
	}
	
/* -- HEADER -- */	
#header{
	background: white url(../img/header.png) no-repeat scroll 50% 0;
	height:138px;
	color:#fff;
	position: relative;
}

/*-- MENU --*/
ul.menu{
	margin: 0;
	padding: 0;
}

ul.menu li{
	list-style: none;
	position: relative;
	float: left;
}

ul.menu li a {
	display: block;
	white-space: nowrap;
}

#menualternativo{
	position: absolute;
	top: 20px;
	right: 15px;
	}

ul.menualternativo li{
	float: left;
	}
	
ul.menualternativo li.separador{
	color: #cfcfcf;
}

ul.menualternativo li a{
	padding: 0 5px;
	color: #989898;
	}

ul.menualternativo li a:hover, ul.menualternativo li a:active {
	color:#0165A6;
}

#menuprincipal{
	height: 32px;
	background: white url(../img/barramenu.png) repeat-x scroll center top;
	padding-left: 45px;
}

ul.menuprincipal li{
	padding-right: 45px;
}

ul.menuprincipal li a{
	color: #fff;
	font-size:13px;
	padding: 8px 0;
}

ul.menuprincipal li a:hover{
	color: #f2f4f4;
	text-decoration: underline;
}

ul.menusecundario{
	position: absolute;
	left: 0;
	background: #cfcfcf;
	padding: 0;
	display: none;
}

ul.menusecundario li{
	float: none !important;
	padding: 0;
}

ul.menusecundario li a {
	padding: 5px 10px;
}

/*-- CONTENEDOR  --*/
#container{
	width:688px;
	float:left;
	padding:15px 10px 15px 15px;
	margin: 5px 0 5px 5px;
}

#container h1 {
	margin-bottom: 20px;	
}

/*-- SIDEBAR --*/
#sidebar{
	width:225px;
	float:left;
	margin:5px 5px 0 10px;
	}

#sidebar .widget {
	background: #F1F3F6;
	padding: 10px;
	margin-bottom: 5px;
}

#sidebar h2{
	color:#4C4949;
	font-size: 15px;
	text-transform:lowercase;
}

#sidebar label{

}

#sidebar input{

}

/* --- FIXED --- */
.clear{
	clear:both;
	}