body{
	background-color:#fff;
	margin:0px;
	padding:0px;
	font-family: Tahoma,Arial;
	font-size:11px;
	color:#333;
}
	
p{
	line-height:21px;
	margin: 0 0 10px 0;
	padding: 0;
}

/*-- HEADERS -- */

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	line-height: normal;
	font-weight: normal;
}

h1{
	font-size: 22px;
	color: #c60303;
	}
	
h2{
	font-size: 18px;
}

h3{
	font-size: 15px;
}	

h4{
	font-size: 13px;
}

h5{
	font-size:12px;
}

/* -- LINKS -- */
a{
	text-decoration:none;
	outline: none;
}

a:link, a:visited{
	color:#c60303;
}

a:hover, a:active {
	text-decoration:underline;
}

/* -- FORMS -- */
form, fieldset, legend {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
}

legend {
	font-size: 18px;
}

.input-button {
	float: right;
}

/* -- OTHER TAGS -- */
small, .error-message {
	color: #999;
}

.error-message {
	color: #f00;
	font-size: 10px;
	display: inline-block;
	margin-left: 3px;
}

/* -- TABLES -- */
table {
	border: 1px solid #dfdfdf;
	border-collapse:collapse;
}

th, td {
	padding: 3px;
	border-right: 1px solid #dfdfdf;
}

.fila1 {
	background: #fff;
}

th, .fila2 {
	background: #F1F3F6;
}

.columna.ultimo {
	border-right: none;
}

/* -- WRAPPER -- */	
#wrapper{
	width:958px;
	margin:auto;
	margin-top: 5px;
	margin-bottom: 20px;
	background:#FFF;
	border:1px solid #CFCFCF;
	color:#666;
	}
	
/* -- HEADER -- */	
#header{
	background: white url(../img/header.png) no-repeat scroll 50% 0;
	height:138px;
	color:#fff;
	position: relative;
}

/*-- MENU --*/
ul.menu{
	margin: 0;
	padding: 0;
}

ul.menu li{
	list-style: none;
	position: relative;
	float: left;
}

ul.menu li a {
	display: block;
	white-space: nowrap;
}

#menualternativo{
	position: absolute;
	top: 30px;
	right: 38px;
	}

ul.menualternativo li{
	float: left;
	}
	
ul.menualternativo li.separador{
	color: #cfcfcf;
}

ul.menualternativo li a{
	padding: 0 5px;
	color: #989898;
	text-decoration: none;
	}

ul.menualternativo li a:hover, ul.menualternativo li a:active {
	color:#0165A6;
}

#menuprincipal{
	height: 32px;
	background: white url(../img/barramenu.png) repeat-x scroll center top;
	padding-left: 45px;
}

ul.menuprincipal li{
	padding-right: 45px;
}

ul.menuprincipal li a{
	color: #fff;
	font-size:13px;
	padding: 8px 0;
}

ul.menuprincipal li a:hover{
}

ul.menusecundario{
	position: absolute;
	left: 0;
	background: #f1f3f6;
	padding: 0;
	display: none;
	z-index: 1000;
}

ul.menusecundario li{
	float: none !important;
	padding: 0;
}

ul.menusecundario li a {
	font-size: 11px;
	padding: 5px 10px;
	color: #4C4949;
}

/*-- CONTENEDOR  --*/
#container{
	width:688px;
	float:left;
	padding:15px 10px 15px 15px;
	margin: 5px 0 5px 5px;
}

#container h1 {
	margin-bottom: 20px;	
}

#container h2 {
	margin-bottom: 10px;
	color:#0165A6;
}

#container h3 {
	margin-bottom: 10px;
}

/*-- MAP --*/
.canvasmapa span {
	display: none;
}

.canvasmapa h4 {
	color:#0165A6;
	font-size: 11px;
	margin-bottom: 10px;
	font-weight: bold;
}

.canvasmapa .burbuja {
	width: 190px;
}

.canvasmapa .burbuja table {
	font-size: 10px;
}

.canvasmapa .burbuja table th, .canvasmapa .burbuja table td {
	padding: 2px;
}

/*-- TABS --*/
#carpeta {
	border: 1px solid #dfdfdf;
	padding: 10px;
	min-height: 322px;
}

#lenguetas li a {
	color: #dfdfdf;
	font-size: 18px;
	padding: 0 10px 10px 0
}

#lenguetas li a:hover, #lenguetas li a:active {
	color: #666;
	text-decoration: none;
}

#lenguetas li.active a {
	color: #0165A6;
}

#lenguetas li.active a:hover, #lenguetas li.active a:active {
	color: #0165A6;
}

#carpeta .canvasmapa {
	height: 200px;
}

#carpeta .encabezadotabla {
	border: 1px solid #dfdfdf;
	border-bottom: none;
	padding-right: 15px;
	background: #f1f3f6;
}

#carpeta .contenidotabla {
	height: 100px;
	overflow-y: scroll;
	border: 1px solid #dfdfdf;
	border-top: none;
}

#carpeta .encabezadotabla .ultimo, #carpeta .contenidotabla .ultimo {
	border: none;
}

/*-- SIDEBAR --*/
#sidebar{
	width:225px;
	float:left;
	margin:5px 5px 0 10px;
	}

#sidebar .widget {
	background: #F1F3F6;
	padding: 10px;
	margin-bottom: 5px;
}

#sidebar h2{
	color:#4C4949;
	font-size: 15px;
	text-transform:lowercase;
	margin-bottom: 10px;
}

#sidebar .input.text, #sidebar .input.password {
	margin-bottom: 10px;
}

#sidebar label {
	display: block;
}

#sidebar ul, #sidebar ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* -- BLOQUES -- */
.bloque {
	margin-bottom: 10px;
}

.bloque .input.text, .bloque .input.select, .bloque .input.textarea, .bloque .input.datetime, .bloque .input.date, .bloque .input.password {
	padding-bottom: 3px;
}

.bloque .label {
	display: inline-block;
}

.bloque .label .requerido {
	color: #f00;
}

.bloque .cantidad {
	width: 90px;
}

.bloque .caracteristica {
	width: 228px;
}

/* -- MISC -- */
.ancho100 {
	width: 100%;
}

.ancho75 {
	width: 75%;
}

.ancho50 {
	width: 50%;
}

.ancho35 {
	width: 35%;
}

.ancho33 {
	width: 33%;
}

.ancho25 {
	width: 25%;
}

.ancho20 {
	width: 20%;
}

.ancho15 {
	width: 15%;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

.alignright {
	text-align: right;
}

.oculto {
	display: none;
}

span.mostrar {
	display: inline !important;
}

.rojo {
	color: #c60303;
}

.minusculas {
	text-transform: lowercase;
}

.sinborde {
	border: none;
}

.clear{
	clear:both;
}
